[build]
  command = "ng build"
  publish = "dist/IFTS26/server/browser"

[[redirects]]
  from = "/admin/*"
  to = "/admin/index.html"
  status = 200
  force = true
[[redirects]]
  from = "/"
  to = "/inicio"
  status = 301 # Significa "movido permanentemente"
