<div class="career-container">

  <div class="career-header">
    <h1>{{ data.titulo }}</h1>
  </div>

  <section class="intro-section">
    @if (data.imgIntro) {
    <div class="career-image-wrapper">
      <img [src]="data.imgIntro" [alt]="data.titulo" class="main-image">
    </div>
    }
    <div class="career-description" [innerHTML]="renderMarkdown(data.descripcion)"></div>
  </section>

  @if (data.porqueEstudiar) {
  <section class="why-study-section">
    <div class="highlight-box">
      <div [innerHTML]="renderMarkdown(data.porqueEstudiar)"></div>
    </div>
  </section>
  }

  @if (data.queEsSerTecnico) {
  <section class="why-study-section">
    <div class="highlight-box">
      <div [innerHTML]="renderMarkdown(data.queEsSerTecnico)"></div>
    </div>
  </section>
  }

  @if (listaSecciones && listaSecciones.length > 0) {
  <section class="info-accordion">

    @for (seccion of listaSecciones; track $index) {
    <div class="accordion-item" [class.active]="seccion.abierto">

      <button class="accordion-header" (click)="toggleSeccion(seccion)">
        <div class="header-title">
          <fa-icon [icon]="seccion.icono" class="section-icon"></fa-icon>
          <span>{{ seccion.titulo }}</span>
        </div>
        <fa-icon [icon]="seccion.abierto ? iconoContraer : iconoExpandir" class="toggle-icon"></fa-icon>
      </button>

      <div class="accordion-content" *ngIf="seccion.abierto">

        @if (seccion.contenidoTexto) {
        <div class="content-text">
          <div [innerHTML]="renderMarkdown(seccion.contenidoTexto)"></div>
        </div>
        }

        @if (seccion.imagenSrc) {
        <div class="content-inner">
          <img [src]="seccion.imagenSrc" [alt]="seccion.titulo" class="document-image">
          <p class="download-hint">* Clic derecho para abrir o descargar imagen.</p>
        </div>
        }

      </div>
    </div>
    }

  </section>
  }

</div>