.carouselContainer {
    overflow: hidden;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1rem;

    @media (max-width: 768px) {
        max-width: 100%;
        padding: 0 0.5rem;
    }

    @media (max-width: 480px) {
        padding: 0;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}