.navbar {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.logoIFTS {
    height: 120px;
}

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    h1 {
        font-size: 44px;
    }

    h3 {
        font-size: 14px;
    }
}

.navList {
    width: 100%;
    display: flex;
    font-size: 14px;
    gap: 20px;
    justify-content: space-between;
    background-color: #2c3539;
    color: #ffffff;
    align-items: center;
    height: 42px;
    padding: 0 80px;

    .ulMenu {
        min-width: 160px;
        box-sizing: border-box;
        padding: 0;
    }

    li {
        cursor: pointer;
        padding: 0;
    }

    button {
        background-color: inherit;
        border: none;
        font-size: 14px;
        display: flex;
        align-items: center;
        min-width: fit-content;
    }

    .secButton {
        padding: 12px 14px;
        width: 100%;
        font-size: 13px;
        font-weight: 400;
        border-radius: 4px;
    }

    .secButton:hover {
        background-color: #e4e4e4;
    }
}