.navbar {
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: relative;
}

.logoIFTS {
    height: 120px;
}

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    h1 {
        font-size: 44px;
    }

    h3 {
        font-size: 14px;
    }
}

.hamburger {
    display: none; // Hidden by default
    position: absolute;
    top: 20px;
    right: 20px;
    button {
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
    }
}

.navList {
    width: 100%;
    display: flex;
    font-size: 14px;
    gap: 20px;
    justify-content: space-between;
    background-color: #2c3539;
    color: #ffffff;
    align-items: center;
    height: 42px;
    padding: 0 80px;

    .ulMenu {
        min-width: 160px;
        box-sizing: border-box;
        padding: 0;
    }

    li {
        cursor: pointer;
        padding: 0;
    }

    button {
        background-color: inherit;
        border: none;
        font-size: 14px;
        display: flex;
        align-items: center;
        min-width: fit-content;
    }

    .secButton {
        padding: 12px 14px;
        width: 100%;
        font-size: 13px;
        font-weight: 400;
        border-radius: 4px;
    }

    .secButton:hover {
        background-color: #e4e4e4;
    }
}

@media (max-width: 1200px) {
    .navbar {
        align-items: flex-start;
    }

    .hamburger {
        display: block; // Show hamburger on smaller screens
    }

    .navList {
        display: none; // Hide navList by default
        flex-direction: column;
        width: 100%;
        background-color: #2c3539;
        position: absolute;
        top: 140px; 
        left: 0;
        padding: 10px 0;
        height: auto;
        gap: 5px;

        &.show {
            display: flex; // Show navList when menu is open
        }

        c-dropdown, button {
            width: 100%;
        }

        .ulMenu {
            width: 100%;
        }

        button {
            justify-content: center;
        }
    }

    .titleContainer {
        h1 {
            font-size: 36px;
        }
        h3 {
            font-size: 12px;
        }
    }
}

@media (max-width: 992px) {
    .navContainer {
        flex-direction: column;
        align-items: center;
    }

    .navList {
        top: 220px; // Adjust position based on new navContainer height
    }
}

@media (max-width: 768px) {
    .titleContainer {
        text-align: center;
        h1 {
            font-size: 30px;
        }
        h3 {
            font-size: 11px;
        }
    }
}

    