<nav class="navbar">
    <div class="navContainer">
        <img class="logoIFTS" src="/assets/img/iftslogo.png" alt="Logo IFTS26">
        <div class="titleContainer">
            <h1>IFTS N° 26</h1>
            <h3>Tecnicatura Superior en Gestión Integral del Riesgo</h3>
            <h3>Tecnicatura Superior en Higiene y Seguridad en el Trabajo</h3>
        </div>
    </div>
    <div class="navList">
        @for (button of navButtons; track button.label) {
        <c-dropdown variant="btn-group" class="m-1">
            <button cButton cDropdownToggle>
                {{ button.label }}
            </button>
            <ul cDropdownMenu class="ulMenu">
                @for (item of button.items; track item.text) {
                <li>
                    <button class="secButton" [routerLink]="item.route" cDropdownItem>{{ item.text }}</button>
                </li>
                }
            </ul>
        </c-dropdown>
        }
    </div>


</nav>