.info {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    .infoContainer {
        width: 1000px;
        padding: 28px;
        background-color: #287fb6;
        border-radius: 6px;
    }

    h2 {
        text-align: center;
    }

    img {
        height: 120px;
    }

    .sec1 {
        p {
            color: white;
            margin-bottom: 4px;
        }
    }

    .sec2 {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        align-items: center;
    }

    .sec3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}