@use "@coreui/coreui/scss/coreui";
@import 'bootstrap-icons/font/bootstrap-icons.css';

html{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}
